[2019-08-19 15:49] crobby opened #6 "s2i build not activating Thoth"
I have some source with all of the Thoth env variables set and my project includes a .thoth file, but when I do the s2i build process, it never seems to activate Thoth.  Instead, it just processes my Pipfile normally and goes about the build.  Is there another step I need in this process so that Thoth will run?

Here is my .s2i/environment file contents:
[code]

[2019-08-20 08:03] fridex commented on #6
Cannot reproduce this issue on my own. Could you post a link to the repo to test this build?

One thing that caught my eye:

[code]

Do you use `.thoth.yaml` in the repo or template?

[2019-08-20 11:16] crobby commented on #6
actually, thoth_conf_template.yaml is unused (was an artifact of copy/paste).
I did get farther along in the process by using quay.io/thoth-station/s2i-thoth-ubi8-py36 as my base image, but still ran into problems.  I will push what I have up to a fork in my repo so you can take a closer look.

[2019-08-20 11:24] crobby commented on #6
https://gitlab.com/crobby/ai-library/tree/thoth  is the branch where I have my changes.  each model is in a separate folder.  The directories that I've tried to build are: anomaly_detection (which seems to die because one of the packages is being installed form github rather than a pypi package) and  associative_rule_learning (which seems to die when installing googleapis-common-protos).

[2019-08-20 12:48] goern opened #10 "add zuul integration"
Please add this repo to zuul. I think the pipeline just needs linters...

[2019-08-20 15:35] fridex opened #11 "Provide Pipenv in the base image"
It would be probably nice to ship Pipenv in the container image as we will always use Pipenv to install packages. This way we will have control of the pipenv release which is used.

[2019-08-20 15:43] fridex commented on #11
![](https://github.trello.services/images/mini-trello-icon.png) [Ship s2i-thoth-* container images with Pipenv installed](https://trello.com/c/ke43ENdR/717-ship-s2i-thoth-container-images-with-pipenv-installed)

[2019-08-22 11:43] #10 closed

[2019-08-27 08:13] goern commented on #11
@fridex has this been implemented with https://github.com/thoth-station/s2i-thoth/commit/7298a565ce94147ba26cc2b7dd243c140fedc197 ?

[2019-08-27 08:15] fridex commented on #11
yes. closing...

[2019-08-27 08:15] #11 closed

[2019-09-05 07:53] goern commented on #6
@fridex PTAL

[2019-09-27 06:52] fridex opened #17 "Revisit which commands should cause the build to fail"
**Describe the bug**

In some s2i builds, we continued even though some of the commands failed during assembling. This is caused due to removal of `set -ex` which caused issues with branch evaluation.

**Expected behavior**

The build should always fail if not configured properly

**Actual behavior**

Build proceeds even though commands are not successful.

**Additional context**

**Build log**

[

[2019-10-06 10:08] #17 closed

[2019-10-10 06:07] goern opened #20 "keep and eye on https://github.com/AICoE/log-anomaly-detector/issues/297"
after the migration from centos7 to ubi8 we could introduce s2i-thoth

[2020-02-25 17:15] 4n4nd opened #39 "Build fails in new v0.9.0 s2i-thoth-ubi8-py36 base image"
**Describe the bug**
Build fails due to a missing dependency which can be seen as installed in the build logs.
This fails is in the newer version v0.9.0 but this build works in v0.8.0 of the image  thoth-station/s2i-thoth-ubi8-py36.

**Environment variables used for s2i configuration**
The build config can be found here: https://github.com/AICoE/prometheus-anomaly-detector/blob/master/openshift/oc

[2020-02-25 20:48] fridex commented on #39
thanks for the report @4n4nd

This looks like an issue with the relative ordering of dependencies installed (pipenv tries to install failed dependencies again).

Thinking about the fix here... we can try to either reorder dependencies or create similar logic as pipenv has (which would make micropipenv slightly more complicated piece of software).

[2020-02-26 20:18] #39 closed

[2020-02-27 08:22] fridex commented on #39
@4n4nd could you please verify the fix works for you? The newly released images in version v0.10.0 should address the issue. Thanks!

[2020-02-27 10:16] 4n4nd commented on #39
It works! I tested the new image v10.0.
Thanks!

[2020-03-13 09:10] fridex opened #47 "Use micropipenv as a wrapper for all dependency formats"
**Is your feature request related to a problem? Please describe.**

As of now, we run micropipenv only if Pipfile is present in the application root - this means micropipenv installation method discovery installs dependencies from Poetry files only if Pipenv.lock is not present and poetry.lock+pyproject.toml are present. A similar thing applies to requirements.txt file - Pipenv+requirements.txt ha

[2020-03-18 09:35] CermakM opened #48 "S2I sometimes hangs during build on OpenShift"
**Describe the bug**
A build sometimes hangs. Unable to find the reason or provide a reproducer, but it only happens during resource-expensive builds, i.e.: https://github.com/CermakM/jupyter-notebooks/tree/experimental/scipy-notebook

**Environment variables used for s2i configuration**

[code]

**Expected behavior**
The build is completed successfully or fails.

**Actual behavior**
The build han

[2020-03-18 17:50] fridex commented on #48
I treid to run s2i locally, it looks like dependencies are correctly installed. Can you try disabling advises completely to see if Thoth is the issue maker here?

```THOTH_ADVISE=0```

[2020-03-20 09:09] CermakM commented on #48
Haven't hit the issue yet with `THOTH_ADVISE=0`

[2020-03-20 09:13] fridex commented on #48
Is this happening on `v0.8.0` as well as on `v0.11.3`?

[2020-03-20 11:27] CermakM commented on #48
Didn't test `THOTH_ADVISE=0` with `v0.8.0`, but the issue was happening with either of these.

[2020-03-23 11:18] fridex commented on #48
Can you test it with this configuration? It would narrow down more to the issue maker.

[2020-03-25 20:17] CermakM commented on #48
Will give i a shot once I am back up with the Workflows, should be able to do it tomorrow.

[2020-03-30 12:54] CermakM commented on #48
Unable to reproduce with 0.8.0 as I am not able to use it for the build, currently, due to some changes to the image (like missing `rsync` command). Can do a work around it and install the dep manually, if it is crucial for the debugging of this issue, tho.

[2020-04-08 19:38] goern commented on #6
is this still valid?!

[2020-04-27 08:21] fridex opened #59 "Print Thoth's configuration in a form of JSON"
**Is your feature request related to a problem? Please describe.**

When parsing s2i builds, Thoth's configuration is printed to the log. This configuration is written in YAML by default. In some cases, obtaining openshift logs does not preserve whitespace indentation making the YAML configuration printed to the log not valid YAML.

**Describe the solution you'd like**

Thoth's configuration could

[2020-04-27 21:47] #59 closed

[2020-05-11 16:07] goern commented on #47
is this done?!

[2020-05-11 16:09] goern opened #69 "`THOTH_ADVISE=0` not respected"
**Describe the bug**
[code]
**Environment variables used for s2i configuration**

[code]

**Expected behavior**
s2i should happen without Thoth being involved

**Actual behavior**
Thoth service is queried

[2020-05-11 16:26] goern commented on #69
chk, thanks for pointing out!

[2020-05-11 16:53] fridex commented on #69
sounds like the right solution, should we close this?

[2020-05-18 06:36] fridex commented on #69
Closing, feel free to reopen if the issue persists.

[2020-05-18 06:36] #69 closed

[2020-05-18 06:37] fridex commented on #47
Yes with the current patch applied to Python s2i.

[2020-05-18 06:37] #47 closed

[2020-06-05 07:35] fridex commented on #48
Closing this issue, feel free to reopen if the issue persists.

[2020-06-05 07:35] #48 closed

[2020-06-05 07:36] fridex commented on #20
Is this still valid?

[2020-06-05 07:38] fridex commented on #6
Sorry, I somehow missed this. Is this still valid with the most recent s2i-thoth images (e.g. quay.io/thoth-station/s2i-thoth-ubi8-py38:v0.13.0)?

[2020-06-05 07:40] fridex opened #75 "Start using micropipenv from rpm"
**Is your feature request related to a problem? Please describe.**

As micropipenv is a tooling that is shipped with the builder s2i container image, we should install it using [rpm package](https://koji.fedoraproject.org/koji/packageinfo?packageID=micropipenv).

**Describe the solution you'd like**

Install micropipenv from [rpm](https://koji.fedoraproject.org/koji/packageinfo?packageID=micropipe

[2020-06-08 07:08] #20 closed

[2020-08-25 11:31] #6 closed

[2020-08-25 15:36] vpavlin opened #78 "Thoth s2i image is missing psql"
**Describe the bug**
We are trying move to Thoth s2i base images, but JupyterHub container will fail to start as it is trying to use `psql` command which is not available in the Thoth image.

[code]

**Environment variables used for s2i configuration**

List of *THAMOS_** and *THOTH_** environment variables from the build config:

**Expected behavior**
`wait-for-database`  script succeeds and the

[2020-08-25 18:19] goern commented on #78
/kind bug
/assign @fridex
/priority critical-urgent

[2020-08-26 06:09] fridex commented on #78
Which s2i-thoth container image are you using? We don't have ubi7 alternatives.

[2020-08-26 07:10] fridex commented on #78
Checked all the available s2i-thoth we provide, none of them is shipped with psql. Base container images are not shipped with psql -- we base on s2i fedora{31,32}/ubi8 container images and install just our tooling into them. Would you mind creating your own container image with psql based on s2i-thoth?

[2020-08-26 09:57] vpavlin commented on #78
Yeah, I checked the ubi8/python-36 and it seems like they removed the psql...I call that a regression:) I'll stick with the ubi7 image for now and create an issue to come up with the new base image later.

[2020-08-26 09:57] #78 closed

[2020-09-17 11:18] goern opened #85 "investigate how OSBS/Fedora Build Service uses s2i [9pt]"
Let's investigate how OSBS and https://docs.fedoraproject.org/en-US/containers/buildsys/ use s2i or tekton, and how to integrate with these...

[2020-10-12 15:21] pacospace opened #86 "Add RPMs to install successfully ssdeep"
Recent changes in thoth-storages [1] required the introduction of ssdeep library [2].

Simple pipenv installs on Fedora 31 gives the following error:

pipenv version: `pipenv, version 2020.8.13`
Python version: `3.6`
[code]
The installation on fedora OS requires:
`sudo dnf install libffi-devel python3-devel python3-pip ssdeep-devel ssdeep-libs` [3] to be successfull.

References:
- [1] https://git

[2020-10-12 16:59] harshad16 commented on #86
As pointed out, the **ssdeep** library needs development tool rpm packages to be installed in the base image.
as we use _thoth-s2i-ubi8_ image as a universal base for s2i container images, which require minimum requirements.
It feels like we should have a different base for thoth-storages as **ssdeep** file requirement might be required by other _thoth-s2i-ubi8_ users.

what are your thoughts on t

[2020-10-12 17:12] fridex commented on #86
I see three options:

* add the native packages required to base s2i-thoth images - this is not nice as we claim s2i-thoth images are s2i with thoth addition
* create a base image specific for thoth - not nice as we need to maintain another set of images, on the other hand we can optimize base images (e.g. remove deps we do not want such as fortran) and include our native dependencies in the base

[2020-10-14 11:52] pacospace commented on #86
Thanks!! Upstream seems a bit unmaintained though: https://github.com/DinoTools/python-ssdeep :/

[2020-10-15 06:13] pacospace commented on #86
Thank you very much @fridex !!

[2020-10-26 16:47] fridex commented on #75
Why was this closed?

[2020-10-27 21:13] goern commented on #86
is this still valid?

@pacospace

[2020-10-28 07:54] pacospace commented on #86
@fridex solved it creating `thoth-ssdeep` :) we can close it!

[2020-10-28 07:54] #86 closed

[2020-11-04 08:41] goern commented on #75
uhh, because I looked at the toolbox, which is using micropipenv from rpm.. sorry

[2020-11-23 21:54] fridex opened #90 "Use `thamos advise --install` during the build process"

[2020-11-23 21:55] fridex commented on #75
We can close this one as we integrated micropipenv to thamos, see https://github.com/thoth-station/s2i-thoth/issues/90

[2020-11-23 21:55] #75 closed

[2020-11-25 18:11] fridex opened #91 "Update and pin pip to a specific release"
**Is your feature request related to a problem? Please describe.**

I, as a Thoth user, would like to have an ability to install libraries, such as intel-tensorflow, that were built using more recent manylinux standard. To support this, s2i needs to ship newer pip version that supports manylinux standards. Ideally, it should match the version used in Thoth's solvers so that any issues spotted duri

[2020-11-25 20:32] fridex commented on #91
Even with the linked issue, we do not use more recent pip release. The reason behind it is the assemble script shipped in the base image. It pins pip version to an older release.

[2020-11-30 11:04] #90 closed

[2020-11-30 11:04] #91 closed

[2020-11-30 11:31] fridex opened #100 "ModuleNotFoundError: No module named 'argo' when running assemble"
**Describe the bug**

[code]

[2020-11-30 11:40] fridex commented on #100
This is caused by thoth-common which includes argo. Unfortunately, more recent argo=4 causes issues, we need to pin it to <4.

[2020-11-30 12:02] #100 closed

[2021-01-11 11:12] fridex opened #108 "Kebechet update"

[2021-01-11 11:13] fridex commented on #108
Checking the manager setup.

[2021-01-11 11:14] #108 closed

[2021-01-11 18:09] fridex opened #112 "Builds of 0.23.0 failed"
**Describe the bug**

See recent builds of 0.23.0 on quay, e.g. https://quay.io/repository/thoth-station/s2i-thoth-f31-py37/build/dd2257aa-5908-4064-b8d0-0ccb022ad6bc Either we have something wrong or there is an issue with quay infra:

![Screenshot_2021-01-11_19-09-16](https://user-images.githubusercontent.com/880687/104220952-8327dd00-5440-11eb-9c0d-91e12619ac82.png)

[2021-01-12 18:32] fridex commented on #112
Still getting the same error. It looks like quay disables to container image build after some time by disabling the configured trigger.

[2021-01-12 18:47] fridex commented on #112
/close

Builds are fixed. Somehow odd reporting of illegal instruction in a docker build...

[2021-01-12 18:47] sesheta commented on #112
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/s2i-thoth/issues/112#issuecomment-758861935):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-01-12 18:47] #112 closed

[2021-01-12 19:21] fridex opened #114 "Kebechet update"

[2021-01-12 19:24] #114 closed

[2021-01-12 19:27] fridex opened #116 "Kebechet update"

[2021-01-12 19:27] #116 closed

[2021-01-18 08:05] fridex opened #118 "No module named 'yaml' in build logs"
**Describe the bug**

The following error is shown in build logs for s2i-thoth in version v0.23.0:

[code]

**Expected behavior**

No error should be produced.

[2021-01-18 08:07] fridex commented on #118
The problem here is that we are using the system's Python and there is no pyyaml installed:

https://github.com/thoth-station/s2i-thoth/blob/11f7ce78fb9852d8a70aadcc66ba39163917009f/assemble#L60-L61

The dependency is installed in the virtual environment used.

[2021-01-18 08:52] goern commented on #118
/kind bug
/label sig/build

[2021-01-18 20:44] #118 closed

[2021-01-19 15:08] fridex opened #121 "Kebechet update"
Hey, Kebechet!

Update my dependencies, please.

[2021-01-19 15:10] #121 closed

[2021-01-19 15:27] fridex opened #122 "Kebechet update"
Hey, Kebechet!

Update my dependencies, please.

[2021-01-19 15:29] #122 closed

[2021-01-19 15:45] harshad16 opened #124 "Modify s2i-thoth to get supported with the redhat cpaas"
**Is your feature request related to a problem? Please describe.**
we would like to get s2i-thoth image to be built with the RedHat cpaas (continuous production as a service) so that it can be a viable option for other products either to be built upon or to use as the base image.
The cpaas requires the repository to be configured in a specific manner.
Due the internal build service all build time

[2021-01-19 15:47] fridex commented on #124
Can we use packages from PyPI (thamos, micropipenv, ...) or do they need to be packaged as RPMs?

[2021-01-19 15:49] harshad16 commented on #124
Based on the documentation of cpaas and osbs,
It seems that the dockerfile to be built is to be present on the root directory. https://osbs.readthedocs.io/en/latest/users.html#writing-a-dockerfile

In this way, we would have to restructure the whole repository.
maybe we can fork a downstream repo and work on a single image as s2i-thoth-ubi8-py36

will confirm the requirement of the dockerfile for

[2021-01-19 15:51] fridex commented on #124
thanks, @harshad16! :+1:

[2021-01-19 15:57] harshad16 commented on #124
osbs build checks use source integration (ex: cachito) , which handles module and source code.
will take help from the datahub team to investigate these installations.

however, from the documentation it seems that cachito doesn't support python:
https://gitlab.cee.redhat.com/cpaas/documentation/-/blob/master/users/midstream/usrc_updater.adoc#user-content-cachito

[2021-01-19 16:14] harshad16 commented on #85
Based on the initial investigation it seems like the osbs builds require Dockerfile for the build process. https://osbs.readthedocs.io/en/latest/index.html
The internal RedHat Build service which uses the osbs build service can have more details, so will start investigating in there as well.

[2021-01-19 17:00] harshad16 commented on #124
cachito supports pip package manager.
https://source.redhat.com/groups/public/container-build-system/container_build_system_wiki/containers_from_source_multistage_builds_in_osbs#jive_content_id_Cachito_Integration_for_pip

[2021-01-21 09:11] goern commented on #85
@fridex @TomasTomecek

[2021-01-25 09:43] fridex opened #128 "Provide environment variable which exposes base image information"
**Is your feature request related to a problem? Please describe.**

We already have ``THOTH_S2I_VERSION`` environment variable which tells the current version of s2i-thoth. To fully integrate into the workflow, the container image should expose Thoth specific information about the base container image.

This information should be used in Thoth's solver (which will be integrated naturally once http

[2021-02-01 05:31] harshad16 opened #133 "latest version v0.24.1 is missing all the packages"
**Describe the bug**
The latest version s2i-thoth version [v0.24.1](https://quay.io/repository/thoth-station/s2i-thoth-ubi8-py36?tag=v0.24.1&tab=tags) is missing the required packages from it, for example : `thamos`

[code]

**Environment variables used for s2i configuration**

List of *THAMOS_** and *THOTH_** environment variables from the build config:
[code]

[2021-02-01 05:35] harshad16 opened #134 "thamos not working in some of the recent s2i-thoth version"
**Describe the bug**

The following versions of the s2i-thoth ubi8-py36 fails to execute `thamos` cli:
[v0.24.0](https://quay.io/repository/thoth-station/s2i-thoth-ubi8-py36?tag=v0.24.0&tab=tags)
[v0.23.2](https://quay.io/repository/thoth-station/s2i-thoth-ubi8-py36?tag=v0.23.2&tab=tags)
[v0.23.1](https://quay.io/repository/thoth-station/s2i-thoth-ubi8-py36?tag=v0.23.1&tab=tags)
[v0.23.0](https://

[2021-02-01 06:20] harshad16 commented on #134
noticed this because of the requirements installed in the container.
As dataclasses is not needed for py38, it is not included in the requirements.txt, which causes in the run of thamos in ubi8-py3.6 env.

a possible solution can be:
- instead of installing from pinned requirements.txt, use the requirements.in
- maintain separate requirements based on environments.

[2021-02-01 06:26] harshad16 commented on #133
micropipenv could read from the requirements.txt. Seems issue with the requirements.txt format: https://github.com/thoth-station/s2i-thoth/blob/master/requirements.txt
caused by commit: https://github.com/thoth-station/s2i-thoth/commit/4b9f41da99c72efcc898dba2248065722ca80da2

[2021-02-01 07:45] fridex commented on #133
Thanks. This should be handled by Kevin's bugfix https://github.com/thoth-station/kebechet/pull/686. A new Kebechet needs to be released.

[2021-02-01 07:50] fridex commented on #134
Nice catch! This is somehow bad for us if we want to pin the versions. Ideally having overlays and let kebechet operate on the lock files in the nested directories. As we are not quite there yet, we could keep requirements.txt unpinned. The main reason I did that was to make sure we get updates from kebechet on new thoth tooling releases.

[2021-02-01 20:15] harshad16 commented on #134
Should have individual requirements.txt in the environment and then point that in the respective Dockerfile? In this way, we would not break the requirements based on the python version?

[2021-02-01 20:16] fridex commented on #134
Yes, that would work :+1: I think that's the proper way of doing it as we have different Python versions in these container images. Sadly the repo will not be managed by Kebechet as we do not support nested lock files yet.

[2021-02-01 21:56] fridex commented on #134
@harshad16 can we close this or should this be kept?

[2021-02-01 21:58] harshad16 commented on #134
This issue is fixed with the release of the [v0.24.2](https://quay.io/repository/thoth-station/s2i-thoth-ubi8-py36?tag=v0.24.0&tab=tags)
thanks for all the thoughts.

[2021-02-01 21:58] #134 closed

[2021-02-19 14:36] goern commented on #133
is this still valide for v0.25.1 ?

[2021-02-19 15:11] goern opened #146 "trigger update based on ubi8/python-3* tag release"
**Is your feature request related to a problem? Please describe.**
From time to time an update to the base builder image gets release: https://catalog.redhat.com/software/containers/ubi8/python-38/5dde9cacbed8bd164a0af24a?tag=all

s2i-thoth image are build on top of this, can we create an automated release/update process for this?

**Describe the solution you'd like**
tbd

**Describe alternatives

[2021-03-09 22:59] fridex commented on #128
Already available in the linked PRs and available in prod, closing.

[2021-03-09 22:59] #128 closed

[2021-04-15 18:17] harshad16 commented on #133
No this is not valid for newer versions.
closing the issue.

[2021-04-15 18:17] #133 closed

[2021-04-15 18:35] harshad16 opened #166 "unsetting THOTH_CONFIG_CHECK fails the build when config is not present"
**Describe the bug**
Setting `THOTH_CONFIG_CHECK=0` is still breaking build with thoth config not found error. as we know when setting this [THOTH_CONFIG_CHECK](https://github.com/thoth-station/s2i-thoth/blob/d7e70ae9f47ef4a4ebd483a229c3c6575397d2c2/assemble#L13)=0, it also required to set this THOTH_ERROR_FALLBACK=1.

however the build would still break, the install is done via thamos which is a

[2021-04-16 17:20] goern commented on #166
/kind bug
/assign @fridex

[2021-04-19 17:30] sesheta commented on #124
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-26 09:41] fridex commented on #166
One way to fix this is to make thoth config mandatory in thoth s2i. `.thoth.yaml` holds information about requirements format that is used in thamos (hence thamos install requires thoth config being present). We could issue raw micropipenv as it is available, but that can introduce misleading installations.

An example of such misleading installation that can occur: requirements format is set to p

[2021-04-28 09:02] fridex opened #170 "Provide Fedora 34 s2i"
**Is your feature request related to a problem? Please describe.**

Let's have fedora:34 running py39 s2i and solver:
https://github.com/thoth-station/thoth-application/blob/master/docs/thoth_s2i_procedure.md

[code]

**Describe the solution you'd like**

- provide fedora:34+py39 s2i
- provide fedora:34+py39 solver
- see instructions above for more info

[2021-04-28 23:33] sesheta commented on #85
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-29 06:52] goern commented on #170
/kind feature
/label "good first issue"

[2021-04-29 08:03] fridex commented on #85
/remove-lifecycle stale

[2021-04-30 14:27] fridex commented on #166
Not providing `.thoth.yaml` complicates things and is prone to errors. I think it would be better to make Thoth configuration when using Thoth s2i mandatory. We can add a note to docs. wdyt?

[2021-04-30 14:27] fridex commented on #166
@harshad16 ^^

[2021-04-30 14:48] harshad16 commented on #166
The benefits of `.thoth.yaml` are definitely there as you stated with that example.
we can state in the doc that it is mandatory requirement and include note in docs.

I think users are facing this when they simply wanna use micropipenv, we can define that if the only micropipenv is to be leverage, use the simple s2i-python image as it includes it already, however, we recommend on s2i-thoth with `

[2021-04-30 14:52] fridex commented on #166
Sounds good, tried to summarize this in #172, PTAL.

[2021-04-30 14:57] harshad16 commented on #124
Closing this issue.
rhods has forked our repo and added additional bits for cpaas build.
https://github.com/red-hat-data-services/s2i-thoth

[2021-04-30 14:57] #124 closed

[2021-04-30 15:00] #166 closed

[2021-05-06 09:50] pacospace opened #179 "Handle Git LFS in s2i"
**Is your feature request related to a problem? Please describe.**
Currently, when creating an image from a repo that uses git LFS, the files stored are not treated as git LFS and therefore cannot be read, if that image is spawned on JH on ODH for example.

Another issue is when we want to deploy an ML model that is stored as git LFS.

**Describe the solution you'd like**
Create logic that handle

[2021-05-10 08:16] goern commented on #179
/kind feature

[2021-05-20 16:20] sesheta commented on #146
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-05-21 13:40] harshad16 opened #181 "Source build failing due to yaspin package latest version v1.5.0"
**Describe the bug**

The package **yaspin** is breaking the builds-in system while doing a source build.
https://github.com/thoth-station/s2i-thoth/blob/833507affd4907f45ebd000d6eec73c7c97189f6/ubi8-py38/requirements.txt#L589

[code]

Even though this package is updated in the latest release of s2i-thoth v0.27.0, it is still affecting all the older versions of s2i-thoth.
due to this : https://git

[2021-05-21 16:24] harshad16 commented on #181
This can be just a cluster issue, don't see it in some of the cluster.

[2021-05-26 13:27] #181 closed

[2021-06-03 20:48] fridex opened #189 "Allow users to generate thoth configuration during the build process"
**Is your feature request related to a problem? Please describe.**

As per @wseaton request, we could allow the build process to generate `.thoth.yaml` configuration file during the actual build process. A nice thing about it is that the build process will detect a runtime environment and users do not need to perform supplying the configuration file. As a side feature, users will not need to expli

[2021-06-03 20:48] fridex commented on #189
This could be wrapped to a singe feature flag to disable all the thoth parts at once.

[2021-06-10 10:33] goern commented on #146
/remove-lifecycle stale

[2021-06-10 11:52] goern commented on #179
/triage needs-information

[2021-06-10 15:26] goern commented on #189
/kind feature
/priority important-longterm

[2021-06-10 16:04] goern commented on #85
/priority backlog

[2021-06-10 16:50] goern commented on #170
/priority important-soon

[2021-06-15 09:28] goern commented on #179
/priority backlog

[2021-07-01 07:14] fridex commented on #189
Done in https://github.com/thoth-station/s2i-thoth/pull/190

/close

[2021-07-01 07:14] #189 closed

[2021-07-01 07:14] sesheta commented on #189
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/s2i-thoth/issues/189#issuecomment-871988780):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-01 09:10] goern opened #194 "rebuild due to base image update"
**Is your feature request related to a problem? Please describe.**
1-63 has been released at https://catalog.redhat.com/software/containers/ubi8/python-38/5dde9cacbed8bd164a0af24a?tag=1-63&push_date=1624997285000&architecture=amd64

let's rebuild the whole chain so that https://quay.io/repository/thoth-station/ps-nlp-pytorch/manifest/sha256:b86551780ed8032dde63cd943f46467ee6f61b9066579f4fe4c0bea8c

[2021-07-15 14:04] sesheta commented on #146
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-15 22:42] sesheta commented on #85
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 22:43] #85 closed

[2021-07-15 22:43] sesheta commented on #85
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/s2i-thoth/issues/85#issuecomment-881056312):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-15 23:04] sesheta commented on #170
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-16 10:58] fridex commented on #170
/remove-lifecycle rotten

[2021-07-18 08:20] goern opened #198 "Provide UBI8 Python 3.9 toolchain"
**Is your feature request related to a problem? Please describe.**
Build, auto rebuild and deliver an UBI8 and Python3.9 based Thoth toolchain

- [x] create repo on quay.io, grant bot write-access, mark as public
- [x] merge #197
- [x] configure build trigger on quay.io repo
- [x] create aicoe images based on py39
- [x] reconfigure thoth build pipelines to use py39

/priority critical-urgent

[2021-07-18 08:20] goern commented on #198
/assign @goern
/assign @harshad16
/lifecycle active

[2021-07-18 08:21] goern commented on #198
repo created on quay, manually delivered v0.30.0-dev

https://quay.io/repository/thoth-station/s2i-thoth-ubi8-py39?tab=tags

[2021-07-23 15:36] pacospace opened #201 "s2i build fails because package is not found"
**Describe the bug**
[code]

**Expected behavior**

**Actual behavior**

**Additional context**

**Build log**

[2021-07-23 15:38] pacospace opened #202 "s2i_assemble.patch fails when building locally"
**Describe the bug**
s2i_assemble.patch fails when building locally

**Environment variables used for s2i configuration**

default ones

**Expected behavior**
A clear and concise description of what you expected to happen.

**Actual behavior**
[code]

**Additional context**
Add any other context about the problem here.

**Build log**

A build log when running with `THOTH_ASSEMBLE_DEBUG`:

[2021-07-23 15:39] pacospace opened #203 "Provide docs on how to test build locally successfully with podman or buildah"
**Is your feature request related to a problem? Please describe.**
I want to contribute and have doc on how to test s2i-thoth builds.

**High-level Goals**
Have doc on contributing.

**Describe the solution you'd like**
Provide docs on how to test build locally successfully with podman or buildah.

**Describe alternatives you've considered**

**Additional context**

**Acceptance Criteria**
Have co

[2021-07-23 15:47] pacospace commented on #202
/triage accepted

[2021-07-26 06:11] jgarciao commented on #202
We have a build script that uses the assemble command and it's failing since last Friday. I'm not sure if it's because of the same reason that this bug.

Here is our build log:

[code]

[2021-07-26 08:01] fridex commented on #202
Sorry, I introduced this issue. The fix addressing: https://github.com/thoth-station/s2i-thoth/pull/206

[2021-07-26 08:08] pacospace commented on #202
Thanks @fridex ! this seems to not be there anymore! we can close this issue I think

[2021-07-26 08:09] #203 closed

[2021-07-26 08:39] fridex commented on #201
It looks like Thoth tooling packages are not installed in an appropriate location. They should be installed into system packages, not to collide with user packages brought during the container image build process. ubi8-py39 has this correctly set. Might be worth switching to the same Dockerfile structure as for other container images as well.

[2021-07-26 08:45] #202 closed

[2021-07-26 08:45] fridex commented on #201
But it looks like ubi8-py39 does not correctly set Thoth assemble addition.

[2021-07-29 08:53] pacospace commented on #201
Solved by: https://github.com/thoth-station/s2i-thoth/pull/209

[2021-07-29 08:54] pacospace commented on #201
The issue is no more there, I tested the s2i-example scenario with changes and correct image: https://quay.io/repository/pacospace/ubi8-py38?tab=tags

[2021-07-29 09:22] pacospace commented on #201
what is the issue? the image builds correctly for me.

[2021-07-29 09:34] pacospace commented on #201
[code]

[2021-07-29 13:04] #201 closed

[2021-08-23 20:42] sesheta commented on #179
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-23 20:42] sesheta commented on #179
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/s2i-thoth/issues/179#issuecomment-904111801):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2021-08-24 02:42] sesheta commented on #146
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 17:43] sesheta commented on #170
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 17:43] #170 closed

[2021-08-25 10:53] fridex commented on #170
Already implemented.

[2021-08-28 17:48] sesheta commented on #198
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-03 14:10] goern commented on #198
/close

[2021-09-03 14:10] #198 closed

[2021-09-03 14:10] sesheta commented on #198
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/s2i-thoth/issues/198#issuecomment-912569427):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-09-13 16:57] rmkraus opened #214 "py38-ubi8 image does not build with FIPS enabled"
**Describe the bug**
The NVIDIA RPMs are not signed and thus cannot be installed with FIPS enabled. This causes a problem doing yum update in the Dockerfile.

**Environment variables used for s2i configuration**

Turn on FIPS

**Expected behavior**
Image builds

**Actual behavior**
Build fails

**Additional context**
Add any other context about the problem here.

**Build log**

[code]

[2021-09-23 05:30] sesheta commented on #146
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-23 05:30] sesheta commented on #146
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-23 05:30] #146 closed

[2021-09-23 05:30] sesheta commented on #146
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/s2i-thoth/issues/146#issuecomment-925517055):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2021-09-23 11:30] sesheta commented on #179
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-23 11:30] sesheta commented on #179
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-23 11:30] #179 closed

[2021-09-23 11:30] sesheta commented on #179
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/s2i-thoth/issues/179#issuecomment-925726842):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2021-10-04 06:32] goern commented on #214
/priority important-soon
/assign @codificat
/assign @harshad16

@harshad16 dont we have build pipelines which can create the cuda enabled images?

[2021-10-04 06:34] goern opened #218 "release `v0.32.1`"
**Is your feature request related to a problem? Please describe.**
as base images got updates, we need to release a new tag

Depends-On: #217 #219

/priority important-soon
/assign @codificat
/assign @harshad16

[2021-12-06 21:44] #218 closed

[2021-12-06 21:49] harshad16 commented on #214
The build pipeline for cuda enabled build can be found here
https://github.com/opendatahub-io/odh-manifests/tree/master/jupyterhub/notebook-images/overlays/cuda-11.0.3

[2022-01-20 10:45] fridex opened #231 "Fedora 35 on top of Python 3.10"
**Is your feature request related to a problem? Please describe.**

See https://github.com/sclorg/s2i-python-container/pull/486 - we could plug solver-fedora-35-py310 and start ingestion.

- [ ] update Python packages packaged as RPMs for Fedora 35

[2022-01-20 10:48] fridex opened #232 "Fedora might start using Quay.io"
**Is your feature request related to a problem? Please describe.**

See [the relevant discussion](https://lists.fedoraproject.org/archives/list/devel@lists.fedoraproject.org/thread/EOJB6WUY2PKS5VOTVN6FG5PLN2SAKSNY/). It might be that images will go away from fedora's registry. Worth to keep an eye and eventually switch to quay registry as needed.

[2022-01-20 14:17] goern commented on #231
I think this might be a good opportunity to show different advises, based on latest -> f35-py310 or security -> ubi8-py39 wdyt?

/priority important-soon
/triage accepted

[2022-01-27 15:59] fridex opened #233 "Simplify Thoth part of the toolchain"
**Is your feature request related to a problem? Please describe.**

As suggested by @frenzymadness, our tooling could be simplified. Instead of creating a patch, we could maintain our own assemble script and propagate it to containers.

**Describe the solution you'd like**

- [ ] substitute the assemble script and replace it with Thoth specific assemble script that is copied to the container (inst

[2022-02-01 15:26] codificat commented on #232
/priority backlog
/lifecycle frozen
/triage needs-information
waiting for the discussion outcomes

[2022-02-01 15:28] codificat commented on #233
/triage accepted
/priority important-longterm

worth checking the impact on ODH

[2022-02-01 15:30] fridex commented on #231
https://bodhi.fedoraproject.org/updates/FEDORA-CONTAINER-2022-84cdd058eb

[2022-02-01 19:42] codificat commented on #232
The bot missed the previous comment, trying again:
/priority backlog
/lifecycle frozen
/triage needs-information

[2022-02-03 14:11] fridex commented on #231
It looks like the container image is now stable. We could install `fedora-35-py310` solver and trigger ingestion. I'm not 100% sure if Python 3.10 parsing from the solver name will be correct in our tooling - worth checking.

[2022-02-03 14:12] fridex commented on #231
It is wrong:

[code]

[2022-02-25 20:41] fridex opened #234 "UBI/RHEL 9 based solvers"
**Is your feature request related to a problem? Please describe.**

Let's monitor release cycle of UBI/RHEL 9 and provide relevant solvers to the deployment once they are available and ready to be used.

[2022-03-01 10:51] fridex commented on #234
/sig stack-guidance
/priority important-soon

[2022-03-01 10:52] fridex commented on #231
/sig stack-guidance
/priority important-soon

[2022-03-06 22:08] sesheta commented on #214
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-07 13:44] codificat commented on #234
Related: https://github.com/thoth-station/core/issues/342

[2022-03-07 13:51] codificat commented on #231
For reference, see https://github.com/thoth-station/thoth-application/blob/master/docs/thoth_s2i_procedure.md

[2022-03-09 14:00] goern commented on #214
is this still valid? @harshad16 @codificat
if so, feel free to reopen, otherwise
/close

[2022-03-09 14:00] #214 closed

[2022-03-09 14:00] sesheta commented on #214
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/s2i-thoth/issues/214#issuecomment-1062949856):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-03-15 10:17] codificat commented on #231
/lifecycle active

[2022-03-15 10:19] fridex commented on #234
@Gregory-Pereira worked on a similar item in https://github.com/thoth-station/s2i-thoth/issues/231, related docs:

* https://github.com/thoth-station/s2i-thoth#updating-and-releasing-new-container-images
* https://github.com/thoth-station/thoth-application/blob/master/docs/thoth_s2i_procedure.md

The procedure is very similar, we need to wait for a stable UBI/RHEL 9 Python s2i.

[2022-03-15 17:28] Gregory-Pereira commented on #234
I will go ahead and take a look at this as well.
/assign

[2022-03-15 17:34] fridex commented on #234
Thanks 💯 Worth checking the current state of UBI/RHEL 9 Python s2i. If they are considered stable, we should wait.

[2022-03-15 17:56] Gregory-Pereira commented on #231
With respect to #235  that created the f35-py310 solver, the tagged image in `quay.io` is showing with a critical vulnerability in the scan ([see scan](https://quay.io/repository/thoth-station/s2i-thoth-f35-py310/manifest/sha256:4bf0704f4f4179e791de7df7bacf3d8c085bb18643f659f78662fca43289e143?tab=vulnerabilities)). It appears that the vulnerability lies with `pip`. What should be done about this?

[2022-03-16 12:22] fridex commented on #234
@frenzymadness, could you please let us know the current state for UBI 9 Python s2i? What is its state and when it could become stable? Thanks in advance.

[2022-03-17 09:57] frenzymadness commented on #234
Hi. UBI9 is still beta and we haven't started building our Python container image on top of that yet. We are currently working on Centos stream 9: https://github.com/sclorg/s2i-python-container/pull/501 But there are some blockers.

I see the image in the catalog: https://catalog.redhat.com/software/containers/ubi9-beta/ubi/60a6ea70f13ea7781b9fd615?container-tabs=gti

But I also cannot pull it:
[c

[2022-03-17 09:59] fridex commented on #234
Thanks, @frenzymadness. We will wait for the stable release then. Thanks again 👍🏻

/lifecycle frozen

[2022-03-23 18:54] Gregory-Pereira commented on #231
Can we close this issue, or is there more that needs to be done here?

[2022-03-29 09:03] fridex commented on #231
It might be a good idea to generate prescriptions for packages packaged as RPMs in Fedora 35 (also might be worth to document this). See https://github.com/thoth-station/thoth-application/issues/1803#issuecomment-878208947 and this issue should state code on how to do that https://github.com/thoth-station/adviser/issues/1961 (might require changes to conform to the current prescriptions structure

[2022-04-25 12:18] harshad16 opened #242 "fedora35-py3.10 build for v0.33.0 has failed the build"
fedora35-py3.10 build for v0.33.0 has failed the build with following error message:

[code]

[2022-04-25 12:25] codificat commented on #231
Tracking that in https://github.com/thoth-station/thoth-application/issues/2479

[2022-04-25 14:50] harshad16 commented on #242
curl in fedora35 is having issues

https://bugzilla.redhat.com/show_bug.cgi?id=2042582
https://pascalroeleven.nl/2021/09/09/ubuntu-21-10-and-fedora-35-in-docker/

[2022-04-25 16:22] harshad16 commented on #242
@fridex  @codificat any suggestion on how should be tackling this?

[2022-04-26 07:19] goern commented on #242
/kind bug
/priority critical-urgent

is this worth a prescription?
/sig stack-guidance

[2022-04-26 07:36] harshad16 commented on #242
I m not sure, as this is a binary (curl) having issues, don't know if this would fit for our python prescriptions.

[2022-04-26 07:57] codificat commented on #242
If I understand this correctly, this happens with Docker running on RHEL7.

I did not have problems in a quick test running curl inside a container on my local F35 laptop...

Where is that build running? Do we have more details about the host running the container?
Can this run elsewhere?

[2022-04-26 08:02] harshad16 commented on #242
It is built directly in quay.
https://quay.io/repository/thoth-station/s2i-thoth-f35-py310?tab=builds

[2022-04-26 08:46] codificat commented on #242
So, maybe file an issue with quay? https://issues.redhat.com/projects/PROJQUAY/issues/

It builds on my laptop (yeah, containers were going to fix that situation... oh well)

Maybe a workaround could be to build/push it manually while waiting for feedback from the quay team?

[2022-05-16 10:15] sesheta commented on #233
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-16 10:23] fridex commented on #233
/remove-lifecycle stale

This might be easy to achieve and can reduce maintenance cost.

[2022-06-22 06:36] goern commented on #234
@codificat could you work with @Gregory-Pereira on this? thx!

[2022-07-12 03:51] harshad16 commented on #231
This seems to be done.
closing

[2022-07-12 03:51] #231 closed

[2022-07-13 04:39] harshad16 commented on #242
Further going over this with new version v0.34.0 , it is stil failing to update.
[code]

[2022-07-13 05:14] harshad16 commented on #234
A new image is available now:
https://catalog.redhat.com/software/containers/ubi9/python-39/61a61032bfd4a5234d59629e?tag=1-59&push_date=1656417750000
probably time to re-visit this.

[2022-07-13 05:58] frenzymadness commented on #234
We are working on Python container image based on UBI 9: https://github.com/sclorg/s2i-python-container/pull/528

My estimation is that it should be finished this week.

[2022-07-17 22:36] harshad16 commented on #242
The build is now fixed: https://quay.io/repository/thoth-station/s2i-thoth-f35-py310
closing this
thanks, everyone for help.

[2022-07-17 22:36] #242 closed

[2022-09-19 19:24] #234 closed

[2022-09-20 06:54] goern commented on #233
/help

[2022-09-20 06:54] sesheta commented on #233
@goern:
	This request has been marked as needing help from a contributor.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-help` command.

<details>

In response to [this](https://github.com/thoth-station/s2i-t

[2022-09-26 15:31] codificat commented on #233
/sig devsecops